<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="Test">
    <classes>
    
      <class name="Testcases.Onboarding"/>
      <class name="Testcases.Home_Test"/>

         <class name="Testcases.Google_bg_Test"/>
         <class name="Testcases.Px_bg_Test"/>
         <class name="Testcases.Px_bg_mainscreen"/>
         <class name="Testcases.Main_screen_Test"/>
         
       <class name="Testcases.Gradients_bg_test"/>
         <class name="Testcases.Magazine_bg"/>
       <class name="Testcases.neon_bg"/>
         <class name="Testcases.Qoutes_test"/>
       <class name="Testcases.Recording_bg"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
